<div class="container bg-light rounded-top mt-3 py-2 px-4">
    <h3>Cadastrar Carro:</h3>
    <form>
        <div class="row px-2">
            <label for="" class="col-form-label col-sm-2">Nome:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row mt-2 px-2">
            <label for="" class="col-form-label col-sm-2">Montadora:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row mt-2 px-2">
            <label for="" class="col-form-label col-sm-2">Preço:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control">
            </div>
            <label for="" class="col-form-label col-sm-2">Ano:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div>
                <button class="btn btn-primary mt-2">Salvar</button>
            </div>
        </div>
    </form>
</div>