<div class="container bg-light py-2 px-4 rounded-bottom">
    <h3>Carros Cadastrados:</h3>
    <table class="table table-light">
        <thead class="table-group-divider">
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Montadora</th>
                <th>Preço</th>
                <th>Ano</th>
                <th class="text-end">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-end"></td>
            </tr>
        </tbody>
    </table>
</div>
